/*generic definitions*/


/*colors*/
$td-base-color: $$baseColor$$;
$td-font-color: rgba(02, 02, 02, 1);
$td-color-white: rgba(255, 255, 255, 1);
$td-color-black: rgba(0, 0, 0, 1);

/*fonts*/
$td-font-size: 13px;
$td-font-family: Verdana, Arial, Helvetica, sans-serif;
$td-code-font-family: "Lucida Console", Monaco, monospace, serif;