@base-color: #FF552A;  // orange

@base-font-size: 13px;
@base-font-family: Verdana, Arial, Helvetica, sans-serif;
@base-font-color: rgba(02, 02, 02, 1);

@base-color-white: rgba(255, 255, 255, 1);
@base-color-black: rgba(0, 0, 0, 1);

@code-font-family: "Lucida Console", Monaco, monospace, serif;