@function box_shadow($horiz, $vert, $blur, $spread, $color) {

    -moz-box-shadow: $horiz $vert $spread $color;
    -webkit-box-shadow: $horiz $vert $spread $color;
    box-shadow: $horiz $vert $spread $color;

}